.product-title {
    font-weight: 700;
    color: #21313c;
    font-size: 25px;
    margin-bottom: 11px;
}

.card-image-section {
    position: relative;
}


.shop-now-cards{
    display: flex;
    gap: 36px;
}


.product-card-description {
    font-weight: 600;
    color: gray;
    text-align: justify;
}

.overlay {
    position: absolute;
    top: 31%;
    left: 6%;
}


.card-image {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
}