* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.popular-cards-main {
    width: 100%;
    max-width: 250px;
    overflow: hidden;
}


.item-title {
    font-size: 16px;
}


.card-img {
    width: 200px;
}

.popular-cards {
    width: 246px;
}

.cards-rate {
    font-size: 16px;
}


.add-to-cart {
    display: flex;
    align-items: center;
    gap: 51px;
}


.add-to-cart-btn {
    width: 82px;
    background: #0aad0a;
    color: white;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
}



.cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}


.card-heading {
    font-size: 27px;
    margin-bottom: 31px;
    font-weight: 600;
}

/* 
.products-cards {
    width: 100%;
}


.products-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.text-content {
    margin-top: 6px;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-header-title {
    font-size: 24px;
    margin-bottom: 23px;
    font-weight: 600;
}


.card-two {
    width: 214px;
}

.product-card-title {
    font-size: 11px;
    margin: 4px 0;
    color: #21313c;
    font-weight: 600;
}

.cart-rateing {
    margin: 6px;
    font-size: 8px;
    display: flex;
}

.product-description {
    margin: 5px 0;
    color: gray;
    font-weight: 600;
}

.rating-price {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: baseline;
}


.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}


.add-to-cart-button {
    width: 72px;
    color: white;
    background: #0aad0a;
    font-size: 13px;
} */