.card-wrapper {
    width: 100%;
    padding: 20px 0;
}

.card-wrapper-main {
    display: flex;
    gap: 34px;
    align-items: center;
}

.popular-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px 8px;

}


.popular-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 45px;
}


.card-img-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 44px;
}


.slider-view {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;
    width: 100%;
}