/* SignIn css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fresh-cart-banner nav {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 38px;
    box-shadow: var(--fc-box-shadow-sm) !important;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
}


.logo img {
    height: 40px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/* Sign in Page css */

.auth-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}


.content {
    display: flex;
    gap: 60px;
    align-items: center;
    background: #fff;
    padding: 50px 40px;
    border-radius: 16px;
    max-width: 1000px;
    width: 100%;
}


h1 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
    letter-spacing: -.03rem;
}

.password-input,
.email-input {
    padding: 11px 17px;
    border-radius: 10px;
}


.form-description {
    color: gray;
    margin-bottom: 27px;
    font-size: 15px;
}


.sign-in-btn {
    padding: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #0aad0a;
    font-weight: 700;
    border-radius: 10px;
}


.tick-select-btn {
    margin-bottom: 20px;
}


.sign-in-heading {
    font-weight: 700;
    font-size: 28px;
    color: #21313c;
}


.chekbox-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* /* login Modal code css */

.signup-modal .ant-modal-title {
    font-size: 29px;
    font-weight: 700;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.signup-modal .ant-modal-title {
    font-size: 29px;
    font-weight: 700;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-button {
    width: 99px;
    width: 99px;
    padding: 17px;
    background: #0aad0a;
    border-radius: 12px;
    text-align: center;
    height: 49px;
    border-radius: 12px;
    text-align: center;
    height: 49px;
}


.nav-cart-icon {
    font-size: 24px;
    color: #5c6c75;
    cursor: pointer;
}

.agree-to-terms p {
    text-align: justify;
    color: #3d4f58;
    margin-bottom: 26px;
}

.agree-to-terms a {
    color: #0aad0a;
}

.name-input,
.email-input {
    border: 1px solid #dfe2e1;
    border-radius: 9px;
    padding: .55rem 1rem;
    line-height: 1.6;
    font-weight: 700;
    font-size: .875rem;
    transition: border-color 0.3s;
}


.password-input {
    border: 1px solid #dfe2e1;
    border-radius: 9px;
    padding: 6px;
}

.password-input {
    border: 1px solid #dfe2e1;
    border-radius: 9px;
    padding: 6px;
    width: 100%;
    padding: .55rem 1rem;
    color: #21313c;
}