.forgot-password-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forgot-password-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

}

.nav-content {
    font-size: 13px;
    color: #21313c;
}

.navigation-link{
    color: #21313c;
}

.reset-btn {
    width: 100%;
    background: #0aad0a;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.back-to-login-btn {
    background: #f0f3f2;
    padding: 20px;
    border-radius: 12px;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.forgot-password-heading {
    font-size: 24px;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email-input-one {
    padding: 9px;
    border: 1px solid #DEEAFF;
}

.form-subtitle {
    margin-bottom: 32px;
}