.reset-btn {
    width: 100%;
    background: #0aad0a;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.back-btn {
    background: #f0f3f2;
    padding: 20px;
    border-radius: 12px;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.forgot-password-heading {
    font-size: 24px;
    margin-bottom: 19px;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 5px;


}

.email-input-one {
    width: 403px;
    padding: 9px;
    border: 1px solid #DEEAFF;
}