/* /* login Modal code css */

.signup-modal .ant-modal-title {
    font-size: 29px;
    font-weight: 700;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.signup-modal .ant-modal-title {
    font-size: 29px;
    font-weight: 700;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-button {
    width: 99px;
    width: 99px;
    padding: 17px;
    background: #0aad0a;
    border-radius: 12px;
    text-align: center;
    height: 49px;
    border-radius: 12px;
    text-align: center;
    height: 49px;
}


.nav-cart-icon {
    font-size: 24px;
    color: #5c6c75;
    cursor: pointer;
}

.agree-to-terms p {
    text-align: justify;
    color: #3d4f58;
    margin-bottom: 26px;
}

.agree-to-terms a {
    color: #0aad0a;
}

.name-input,
.login-email-input {
    border: 1px solid #dfe2e1;
    border-radius: 9px;
    padding: .55rem 1rem;
    line-height: 1.6;
    font-weight: 700;
    font-size: .875rem;
    transition: border-color 0.3s;
}


.login-password-input {
    border: 1px solid #dfe2e1;
    border-radius: 9px;
    padding: 6px;
}

.password-input {
    border: 1px solid #dfe2e1;
    border-radius: 9px;
    padding: 6px;
    width: 100%;
    padding: .55rem 1rem;
    color: #21313c;
}