.footer {
    background: #f0f3f2;
    padding: 4rem 0;
    display: none;
}

.nav-items {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.links-main {
    display: flex;
    flex-direction: column;


}

.nav-links {
    text-decoration: none;
    margin: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #6a5252;
    transition: color 0.3s ease;
    font-weight: 600;
}

.footer .container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 0;
}

.footer-heading {
    margin-bottom: 11px;
}