.footer {
    background: #f0f3f2;
    padding: 4rem 0;
    display: flex;
}

.links-main {
    display: flex;
    flex-direction: column;
}

.nav-links {
    text-decoration: none;
    margin: 8px 0;
    font-size: 15px;
    font-weight: 500;
    color: #6a5252;
    transition: color 0.3s ease;
    font-weight: 600;
    padding: 0;
}

.nav-links:hover {
    color: #0aad0a;
}
.footer-heading {
    margin-bottom: 11px;
}